@font-face {
  font-family: SexyUkrainianFont;
  src: url(../../assets/fonts/Blagovest.ttf);
}

.Header {
  padding: 10px 20px;
  margin: 0;

  width: calc(100% - 40px);

  height: 4%;

  font-family: SexyUkrainianFont;

  background-color: #1e1e1e;
  border-bottom: #000 1px solid;
  box-shadow: 2px 8px 25px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  .HeaderText {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;

    font-size: 0.9rem;
  }
  .HeaderText:hover {
    background-color: red;
  }
  .Logo {
    float: left;
  }
}
