@font-face {
  font-family: myFirstFont;
  src: url(../../assets/fonts/Blagovest.ttf);
}

.Header {
  padding: 10px 20px;
  margin: 0;

  width: calc(100% - 40px);
  height: 40px;

  font-size: 2rem;
  font-family: myFirstFont;

  background-color: #1e1e1e;
  border-bottom: #000 1px solid;
  box-shadow: 2px 8px 25px 0px rgba(0, 0, 0, 0.5);
  .Logo {
    color: #fff;
    text-decoration: none;
  }
}
